body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: #111;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #eee;
  border-radius: 15px;
  padding: 30px;
  width: 500px;
  min-height: 500px;
  box-shadow: 5px 5px 0px #eee;
}

h1 {
  margin-top: 0;
  font-size: 42px;
  color: #eee;
}

h2 {
  color: #eee;
}

.tabs {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #eee;
  font-size: 20px;
}

a:hover, a.active {
  text-decoration: underline;
  color: lightpink;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.input-group {
  margin-bottom: 20px;
  width: 100%;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #eee;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #eee;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 20px; 
}

select {
  width: 100%;
  padding: 10px;
  border: 2px solid #eee;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-family: inherit; 
}

option {
  font-family: inherit;
}

.btn {
  background: #111;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 10px 25px;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.1s;
  color: #eee;
}

.btn:hover {
  background-color: lightpink;
  color: #111;
  border: 2px solid #111;
}

.btn:active {
  transform: scale(0.95);
}

/* Result */
.result-section {
  margin-top: 40px;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  color: #eee;
}

.result-text {
  font-size: 32px;
  margin-bottom: 30px;
  color: #eee;
}

/* Error Message */
.error-message {
  border: 2px solid lightpink;
  border-radius: 5px;
  color: #eee;
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 0;
}